*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.searching-container{
    margin: 3rem auto;
    text-align: center;

}

#input-val{
    padding: 1rem;
    width: 30rem;
    outline: none;
    border: none;
    background-color: #eaeaea;
}

.movies-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,300px));
    justify-content: center;
    min-height: 100vh;
}

.movies-card{
    margin-top: 1rem;
}